In [1]:
import pandas as pd

In [27]:
dataset=pd.read_csv('preplacement.csv')
dataset

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.0,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.0,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4.0,56.00,52.00,52.00,66.0,59.43,265000.0,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.0,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,80.60,82.00,77.60,91.0,74.49,400000.0,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212.0,58.00,60.00,72.00,74.0,53.62,275000.0,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213.0,67.00,67.00,73.00,59.0,69.72,295000.0,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214.0,74.00,66.00,58.00,70.0,60.23,204000.0,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215.0,62.00,58.00,53.00,89.0,60.22,265000.0,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [3]:
dataset.drop('sl_no',inplace=True,axis=1)

In [4]:
dataset.isnull().sum()

ssc_p             0
hsc_p             0
degree_p          0
etest_p           0
mba_p             0
salary            0
gender            0
ssc_b             0
hsc_b             0
hsc_s             0
degree_t          0
workex            0
specialisation    0
status            0
dtype: int64

In [5]:
from Univariate import Univariate

In [6]:
qual,quan=Univariate.qualQuan(dataset)

In [7]:
dataset[quan].cov()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
ssc_p,117.228377,60.348373,42.897137,37.659225,24.535952,9.204679e+04
hsc_p,60.348373,118.755706,34.819820,35.461678,22.555846,1.047953e+05
degree_p,42.897137,34.819820,54.151103,21.929469,17.272020,3.071420e+04
etest_p,37.659225,35.461678,21.929469,176.251018,16.886973,1.757669e+05
mba_p,24.535952,22.555846,17.272020,16.886973,34.028376,7.104318e+04
salary,92046.789176,104795.266681,30714.199304,175766.850250,71043.180613,6.120326e+09

In [8]:
#covariance between degree_p and etest_p is 21.929469. This Positive covariance
#covariance between etest_p and mba_p is 16.886973. This Positive covariance

In [9]:
dataset[quan].corr()

             ssc_p     hsc_p  degree_p   etest_p     mba_p    salary
ssc_p     1.000000  0.511472  0.538404  0.261993  0.388478  0.108669
hsc_p     0.511472  1.000000  0.434206  0.245113  0.354823  0.122921
degree_p  0.538404  0.434206  1.000000  0.224470  0.402364  0.053352
etest_p   0.261993  0.245113  0.224470  1.000000  0.218055  0.169233
mba_p     0.388478  0.354823  0.402364  0.218055  1.000000  0.155673
salary    0.108669  0.122921  0.053352  0.169233  0.155673  1.000000

In [10]:
#correlation between mba_p and salary is 0.155673. This is positive correlation with 15%

#Multi-collinear and Variance Inflation Factor

In [11]:
dataset.values

array([[67.0, 91.0, 58.0, ..., 'No', 'Mkt&HR', 'Placed'],
       [79.33, 78.33, 77.48, ..., 'Yes', 'Mkt&Fin', 'Placed'],
       [65.0, 68.0, 64.0, ..., 'No', 'Mkt&Fin', 'Placed'],
       ...,
       [67.0, 67.0, 73.0, ..., 'Yes', 'Mkt&Fin', 'Placed'],
       [74.0, 66.0, 58.0, ..., 'No', 'Mkt&HR', 'Placed'],
       [62.0, 58.0, 53.0, ..., 'No', 'Mkt&HR', 'Not Placed']],
      dtype=object)

In [12]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
variance_inflation_factor(dataset[quan].values, 1)

56.26830332391109

In [13]:
def calc_vif(X):
    import pandas as pd
    from statsmodels.stats.outliers_influence import variance_inflation_factor
    import statsmodels.api as sm
    X=sm.add_constant(X)
    vif=pd.DataFrame()
    vif['Variable']=X.columns
    vif['VIF']=[variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return vif

In [14]:
calc_vif(dataset[quan])

   Variable         VIF
0     const  151.509362
1     ssc_p    1.686686
2     hsc_p    1.474472
3  degree_p    1.560630
4   etest_p    1.128550
5     mba_p    1.311147
6    salary    1.051359

#T_test

#Indepedent sample-UnPaired T-test-
Different group(categarical)(male,Famale) but same condition(Numerical)(salary)

In [15]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male=dataset[dataset['gender']=='M']['salary']
female=dataset[dataset['gender']=='F']['salary']
ttest_ind(male,female)

TtestResult(statistic=2.071926593611645, pvalue=0.039476501699222566, df=213.0)

#Dependent sample-Paired T-test
Same group(Male)(catagerical) different condition(Numerical)(ssc_p,hsc_p)

In [16]:
from scipy.stats import ttest_rel
male=dataset[dataset['gender']=='M']['ssc_p']
male1=dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male,male1)

TtestResult(statistic=0.6852881050898076, pvalue=0.49431164600731514, df=138)

In [17]:
from scipy.stats import ttest_ind
commerce=dataset[dataset['hsc_s']=='Commerce']['mba_p']
science=dataset[dataset['hsc_s']=='Science']['mba_p']
ttest_ind(commerce,science)

TtestResult(statistic=-0.7331285580404581, pvalue=0.46432995253854314, df=202.0)

In [18]:
from scipy.stats import ttest_rel
etest=dataset[dataset['hsc_s']=='Commerce']['etest_p']
mba=dataset[dataset['hsc_s']=='Commerce']['mba_p']
ttest_rel(etest,mba)

TtestResult(statistic=7.868552092606871, pvalue=2.462926468454984e-12, df=112)

#Hypothesis_Testing

In [19]:
#statement: Test whether ssc_p of male and hsc_p of male is same?

In [20]:
from scipy.stats import ttest_rel
male=dataset[dataset['gender']=='M']['ssc_p']
male1=dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male,male1)

TtestResult(statistic=0.6852881050898076, pvalue=0.49431164600731514, df=138)

In [21]:
#Reject Null Hypothesis p<0.05
#Accept Null Hypothesis and reject alternate hypothesis
#Null Hypothesis= There is no similarity between of ssc_p of male and hsc_p of male

#ANAVO-Analysis of Variance

#One-Way Classification

In [22]:
import scipy.stats as stats

In [24]:
stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=0.6719700864663097, pvalue=0.5110602818995302)

In [25]:
#Reject Null Hypothesis p<0.05
#Accept Null Hypothesis and reject alternate hypothesis

#Two-Way Classification

In [26]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [30]:
model = ols('sl_no ~ mba_p + salary + mba_p:salary', dataset).fit()
anova_table = sm.stats.anova_lm(model, typ=2)

In [31]:
anova_table

                     sum_sq     df         F    PR(>F)
mba_p            190.169052    1.0  0.048820  0.825343
salary          1627.817940    1.0  0.417893  0.518693
mba_p:salary    4231.385071    1.0  1.086280  0.298490
Residual      821907.946218  211.0       NaN       NaN